@using BookCarProject.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<section id="lgoin-page-wrap" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-8 m-auto">
                <div class="login-page-content">
                    <div class="login-form">
                        <h3>Welcome Back!</h3>
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="username">
                                @Html.TextBoxFor(m => m.Email, new { @class = "mu-login", placeholder = "Hãy nhập mail của bạn" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                            <div class="password">
                                @Html.PasswordFor(m => m.Password, new { @class = " mu-login", placeholder = "Cho tôi biết mật khẩu nhé" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                            <div class="log-btn">
                                <input type="submit" value="Đăng nhập" class="btn-style" />
                            </div>
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe, "Ghi nhớ tài khoản?")
                            </div>
                            <div class="login-other">
                                <span class="or">or</span>
                                <a href="#" class="login-with-btn facebook"><i class="fa fa-facebook"></i> Login With Facebook</a>
                                <a href="#" class="login-with-btn google"><i class="fa fa-google"></i> Login With Google</a>
                            </div>
                            <p>
                                @Html.ActionLink("Chưa có tài khoản?", "Register")
                            </p>
                            <p>
                                @Html.ActionLink("Bạn đã quên mật khẩu?", "ForgotPassword")
                            </p>
                            <div class="login-menu">
                                <a href="about.html">About</a>
                                <span>|</span>
                                <a href="contact.html">Contact</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
