@using BookCarProject.Models;
@model BookCarProject.Models.UserCustomer
@{
    ViewBag.Title = "DatHangXe";
    Layout = "~/Views/Shared/_LayoutChiTietSP.cshtml";
}
<table align="center">
    @using (Html.BeginForm())
    {
        <tr>

            <td>Họ Tên Khách Hàng</td>
            @Html.TextBoxFor(Model => Model.FullNameUser)
            @Html.ValidationMessageFor(model => model.FullNameUser, "", new { @class = "text-danger" })
            <td>Địa Chỉ</td>
            @Html.TextBoxFor(Model => Model.AddressUser)
            <td>Gmail</td>
            @Html.TextBoxFor(Model => Model.EmailUser)
            @Html.ValidationMessageFor(model => model.EmailUser, "", new { @class = "text-danger" })
            <td>SDT</td>
            @Html.TextBoxFor(Model => Model.NumberPhoneUser)
            @Html.ValidationMessageFor(model => model.NumberPhoneUser, "", new { @class = "text-danger" })
            <td></td>

        </tr>

    }

</table>
