@model IEnumerable<BookCarProject.Models.CarProduct>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@foreach (var item in Model)
{
    <div class="col-lg-4 col-md-6 con suv mpv">
        <div class="single-popular-car">
            <div class="p-car-thumbnails">
                <a class="car-hover" href="@item.ImageFont">
                    <img src="@item.ImageFont" alt="@item.ImageFont">
                </a>
            </div>

            <div class="p-car-content">
                <h3>
                    <a href="/CarProducts/Details/@item.CarProductsId">@item.ModelCar</a>
                    <span class="price"><i class="fa fa-tag"></i> @item.RentCost$/day</span>
                </h3>

                <h5 href="/Home/Details/@item.CarProductsId">Info</h5>

                <div class="p-car-feature">
                    <a href="#">Màu: @item.CarColor</a>
                    <a href="#">Số Gế: @item.NumberOfSeats</a>
                    @Html.ActionLink("Chi Tiết", "Details", new { id = item.CarProductsId })
                </div>
            </div>
        </div>
    </div>
}

