@model BookCarProject.Models.CarProduct

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CarProduct</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CarCategory.NameCarCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarCategory.NameCarCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fuel.NameFuel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fuel.NameFuel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GearBox.NameGearBox)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GearBox.NameGearBox)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModelCar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModelCar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarColor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarColor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfSeats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfSeats)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageFont)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageFont)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageBack)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageBack)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Info)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Info)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Keyword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Keyword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfCars)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfCars)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActionProduct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActionProduct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RentCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RentCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarProductStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarProductStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CarProductsId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
