@model IEnumerable<BookCarProject.Models.CarProduct>

@{
    ViewBag.Title = "Products:Administrator";
}

<h2 class="text-uppercase text-center mt-5">Quản lý hãng xe</h2>
<p class="text-right text-uppercase">
    @Html.ActionLink("Tạo mới", "Create", null, new { @class = "btn btn-warning" })
</p>
<table class="table table-dark">
    <tr style="background-color: darkgray; color: black; text-transform: uppercase">
        <th>
            @Html.DisplayNameFor(model => model.ModelCar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfCars)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RentCost)
        </th>
        <th>
            Trạng thái
        </th>
        <th class="text-right">Công cụ</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ModelCar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfCars)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentCost)
            </td>
            <td>
                @{
                    if (item.CarProductStatus)
                    {
                        @Html.Raw("Còn họat động")
                    }
                    else
                    {
                        @Html.Raw("Ngừng hoạt động")
                    }
                }
            </td>
            <td class="text-right">
                @Html.ActionLink("Edit", "Edit", new { id = item.CarProductsId }) |
                @Html.ActionLink("Details", "Details", new { id = item.CarProductsId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CarProductsId })
            </td>
        </tr>
    }

</table>
