@model BookCarProject.Models.UserCustomer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>UserCustomer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullNameUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullNameUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardIDUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardIDUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberPhoneUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberPhoneUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailUser)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserCustomersId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
